{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='scans_pics/' + scan.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                {% if scan.patient_id == current_user.id %}
                    <div>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Scan?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_scan', scan_id=scan.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>               
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

